/*
#forms-container {float: left; width: 15%;}
#table-container {float: left; width: 85%;}
*/
#forms {border-collapse: collapse;}
#forms th, td {border: 1px solid black;}
#forms tr:hover > td {color:blue;}
#forms tr:active > td {background-color:fuchsia;}

#forms {margin-left: 20px; margin-right: 20px;}

.focus {text-align:center;}
.delete {margin-left: 180px;}

.overlay {
    /*
    opacity: 0.0;
    background-color: #ccc;
    */
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
